body {
    background-image: url("images/background.jpg");
    background-size: 1440px;
    background-repeat: no-repeat;
}

.infoBox {
    background-color: white;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow: auto;
}

.infoBox h2 {
    text-align: center;
}

button {
    border-radius: 20px;
}

#info {
    margin-left: 10%;
}

.tabs {
    margin-top: 3%;
    width: 100px;
    height: 30px;
}