body {
    background-color: rgb(224, 223, 223);
}

header h1 {
    text-align: center;
}

#trade, .countries {
    float: right;
}

#trade {
    width: 200px;
    margin-right: 10px;
}

select, button, input{
    border-radius: 20px;
}

button:hover{
    background-color: lightskyblue;
    color: white;
}

.map {
    border: solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a p {
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}