body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.select {
    text-align: center;
    color: white;
    font-size: 25px;
}

.country1, .country2{
    background-color: white;
    width: 42.5%;
    height: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow: auto;
}

.country1 {
    float: left;
    margin-left: 3%;
}

.country1 h2, .country2 h2 {
    text-align: center;
}

.country2 {
    float: right;
    margin-right: 5%;
}

button, select {
    border-radius: 20px;
}
